---
---

{% node_module leaflet/dist/leaflet.css %}

html, body { padding: 0; margin: 0 }

#map {
  width: 100vw;
  height: 100vh;

  .marker {
    width: auto !important;
    height: auto !important;
    margin-left: -10px !important; /* La mitad del ancho del marcador */
    margin-top: -31px !important; /* El alto del pin */
  }
}
